data/redis_snapshot/*
!data/redis_snapshot/.gitkeep
data/apache_data/*
!data/apache_data/.gitkeep
data/streamlit_data/*
!data/streamlit_data/.gitkeep
.env
*.log
*.log.*
*.key
*.pem
*.crt
*.csr
*.secret
*.pkl
*test*.*
Interactive*.*
# apache_letsencryptディレクトリ自体は保持するが、中身は無視する
*/apache_letsencrypt/*
*/!apache_letsencrypt/.gitkeep
